.contenedor_supremo{
    height: 100%;
    padding: 15px;
}
.buscador{
    display: flex;
    flex-direction: column;
}
.contenedor_activo{
    display: flex;
    justify-content: space-between;
}
.contenedor_buscadores{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    padding: 15px;
    &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #cccccc;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #858585;
        border-radius: 5px;
      }
}
.tarjeta_cliente{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    width: 100%;
    .cliente_nombre{
        height: 100%;
        font-size: 2rem;
    }
    .mini_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.botonera{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 0.5rem;
    height: 100%;
    .boton{
        width: 100%;
    }
}
