<div class="contenedor_supremo">
  <div class="contenedor_buscadores">
    <div class="buscador">
      <label for="">Codigo:</label>
      <div class="input-group">
        <input
          type="text"
          #codigo1
          class="form-control"
          [(ngModel)]="filtro.codigo"
        />
        <button
          class="btn btn-outline-danger"
          id="button-addon2"
          (click)="filtro.codigo = ''"
        >
        🧹
        </button>
      </div>
    </div>
    <div class="buscador">
      <label for="">Alias:</label>
      <div class="input-group">
        <input
          type="text"
          #alias1
          class="form-control"
          [(ngModel)]="filtro.alias"
        />
        <button
          class="btn btn-outline-danger"
          id="button-addon2"
          (click)="filtro.alias = ''"
        >
        🧹
        </button>
      </div>
    </div>
    <div class="buscador">
      <label for="">Provincia:</label>
      <div class="input-group">
        <input
          type="text"
          #provincia1
          class="form-control"
          [(ngModel)]="filtro.provincia"
        />
        <button
          class="btn btn-outline-danger"
          id="button-addon2"
          (click)="filtro.provincia = ''"
        >
        🧹
        </button>
      </div>
    </div>
    <div class="buscador">
      <label for="">Documento:</label>
      <div class="input-group">
        <input
          type="text"
          #documento1
          class="form-control"
          [(ngModel)]="filtro.documento"
        />
        <button
          class="btn btn-outline-danger"
          id="button-addon2"
          (click)="filtro.documento = '';"
        >
        🧹
        </button>
      </div>
    </div>
    <div class="buscador">
      <label for="">Activo:</label>
      <input
      class="form-check-input"
        type="checkbox"
        [(ngModel)]="filtro.activo"
      />
    </div>
    <div class="botonera">
      <button
        class="btn btn-outline-primary boton"
        (click)="clientesrv.set_filtro(filtro); clientesrv.filtrar()"
      >
        Buscar...🔍
      </button>
    </div>
  </div>
</div>
