.contenedor_maestro{
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../assets/fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.contenedor_central{
    overflow-y: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.contenedor_usuarios{
    height: 100%;
    overflow-y: hidden;
}

.contenedor_info{
    height: 100%;
    overflow-y: hidden;
}