.contenedor_cabecera{
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    .contenedor_buscador{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20%;
    }
}