<div class="contenedor_maestro">
  <div class="contenedor_tabla">
      <table class="tabla">
        <tbody>
          <tr class="cabecera_tabla">
            <td>Id_cliente</td>
            <td>numero</td>
            <td>nombre</td>
            <td>direccion</td>
            <td>telefono</td>
            <td>comercial</td>
            <td>email</td>
          </tr>
          <tr *ngFor="let item of prueba">
            <td>{{ item }}</td>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="contenedor_info">
    <div class="titulo">
      <h5>DATOS DEL CLIENTE</h5>
    </div>
    <div class="seccion">
      <input class="form-control" type="text" placeholder="Id_cliente" />
      <input class="form-control" type="text" placeholder="Numero_cliente" />
      <input class="form-control" type="text" placeholder="Alias" />
    </div>
    <div class="seccion">
      <input class="form-control" type="text" placeholder="Provincia" />
      <input class="form-control" type="text" placeholder="Poblacion" />
      <input class="form-control" type="text" placeholder="Direccion" />
    </div>
    <div class="seccion">
      <input class="form-control" type="text" placeholder="Comercial" />
      <input class="form-control" type="text" placeholder="Documento" />
    </div>
    <div class="seccion">
      <input class="form-control" type="text" placeholder="Razon_social" />
      <input class="form-control" type="text" placeholder="Cod_postal" />
    </div>
    <div class="seccion">
      <textarea class="form-control notas" placeholder="Notas..."></textarea>
    </div>
  </div>
</div>
