.contenedor_maestro {
  height: 100%;
  padding: 15px;
  overflow-y: hidden;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5fr 1fr;
}
.mostrar{
  background-color: white;
}
.modificar{
  background-color: white;
  border-color: yellow;
}
.botonera{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:flex-end;
  width: 100%;
  gap: 1rem;
  height: 100%;
  .boton{
      width: 100%;
  }
}
.etiqueta-limpiar{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.boton_limpiar{
  width: 160px;
}

.contenedor_tabla {
  height: 100%;
  display: flex;
  flex-direction:column;
  border-radius: 5px;
  overflow-y: hidden;
  
  .contenedor_para_flex_tabla{
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #cccccc;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #858585;
      border-radius: 5px;
    }
  }
  background-color: rgba(255, 255, 255, 0.8);
  
}

.tabla {
  width: 100%;
  td{
    padding: 5px;
  }
  .cabecera_tabla {
    border-bottom: 2px solid black;
  }
  .entradas:hover {
    background-color: antiquewhite;
  }
}
.paginacion{
  display: flex;
  justify-content: flex-end;
}
.contenedor_info {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  height: 100%;
  grid-template-rows:7fr 2fr ;
  gap: 0.5rem;
  .contenedor-datos{
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #cccccc;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #858585;
      border-radius: 5px;
    }
  }
  .contenedor-botonera{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .titulo {
    text-align: center;
  }
  .seccion {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }
  .etiqueta{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    
    
  }
  .subdiv{
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
  }
  .id_cliente{
    width: 25%;
  }
  .numero{
    width: 30%;
  }
  .alias{
    width: 100%;
  }
  .provincia{
    width: 30%;
  }
  .poblacion{
    width: 40%;
  }
  .cp{
    width: 30%;
  }
  
  .telefono{
    width: 42%;
  }
  .seccion-notas {
      display: flex;
   align-items: center;
   justify-content: center;
  }
  .notas {
    background-color: rgb(224, 224, 0);
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
  }
}
